<p>
  <strong data-se="email">{{user.email}}</strong> is logged in!<br />
  {{user.iat}} - {{user.iatFormatted}}<br />
  {{user.exp}} - {{user.expFormatted}}<br />
</p>
<p>
  <a id="logout" data-se="logout-link" href="javascript:void(0);">Sign Out</a>
</p>
